.reset {
    padding: 0 !important;
}

.tabs a {
    background: #663300 !important;
}

.tabs a .ui.tabular.menu .active.item{
    background: #ff0000 !important;
}

.tabHeader {
    display: flex;
    flex-direction: row;
}

.tabHeader button {
    width: 100%;
    padding: 20px;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    color: #909090;
    cursor: pointer;
    outline: none;
}

.tabHeader button.active {
    background: #1d953f;
    color: #ffffff;
}

.tabHeader button.activeRight {
    background: #032749;
    color: #ffffff;
}
.tabHeader button.focus {
    outline: none !important;
    box-shadow: none;
}

.tabTitle {
    font-size: 25px;
}

.tabTitleSub {
    font-size: 11px;
    font-weight: 300;
}

.tabPane {

}

.emotions {
    display: flex;
    flex-direction: row;
}

    .emotionContainer {
        flex: 1 0 25%;
        width: 25%;
        height: 200px;
        background-color: #ff4a4b;
        border-right: 0.5px solid #ffffff;
    }